body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:flex;
    text-align: center;
    flex-direction:column;
    background-color: rgba(247, 245, 245, 0.886);
    justify-content: center;
    align-items: center;
    
}

h1 {
    color:palegreen;
    -webkit-text-stroke: 1px black;
}

h3 {
    margin-top: 0px;
}

.scores-Container {
    display:flex;
    gap:50px;
    justify-content: center;
}

.result {
    border: thick solid palegreen;
    min-height: 1.3rem;
    min-width: 4rem;
}

.player {
    font-weight: bold;
}

button{
    font-family: inherit;
    padding: 10px 20px;
    margin:5px;
    background-color: palegreen;
}


